// Import variable
@import 'vars.scss';

// Set root font size (16 is default)
:root {
    font-size: $root-font-size;
}

body {
    font-family: $custom-google-font;
    background-color: $base-color;
}

// Sections
section {
    padding: $gap 0;
}

// Hero
.hero {
    padding: 0;
    background: $primary-color;
    background: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
    color: #ffffff;
    padding-bottom: 200px;
    position: relative;
    &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 200px;
        content: "";
        background: url(../img/hero_path.svg);
        background-size: cover; 
        z-index: 2;
    }
    &:before {
        position: absolute;
        top: 0;
        right: -$gap * 4;
        width: 739px;
        height: 100%;
        content: "";
        background: url(../img/hero/Hero_fish.svg);
        background-repeat: no-repeat;
        background-size: 100% 620px;
        z-index: 0;
    }
    header {
        box-shadow: 0 1px 0 0 rgba(255,255,255,.15);
        position: relative;
        z-index: 3;
        >.container {
            height: 100px;
        }
        a {
            color: #ffffff;
            text-decoration: none;
            &:hover {
                color: #ffffff;
                text-decoration: none;
            }
        }
        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                display: inline-block;
                margin: 0 $gap / 2;
                > a {
                    display: block;
                    line-height: 20px;
                    color: rgba(255,255,255,.4);
                    position: relative;
                    &:after {
                        content: ".";
                    }
                }
                &.active {
                    > a {
                        color: rgba(255,255,255,1);
                        &:before {
                            position: absolute;
                            content: "";
                            bottom: -41px;
                            height: 1px;
                            left: 0;
                            right: 0;
                            background-color: yellow;
                        }
                    }
                }
                &:hover {
                    > a {
                        color: #ffffff;
                    }
                }
            }
        }
    }
    .hero-content {
        padding: $gap * 4 0;
        h1 {
            font-size: 64px;
            font-weight: 700; 
            margin-bottom: $gap;
        }
        p {
            font-size: 18px;
            line-height: 28px;
            font-weight: 200;
        }
    }
  }