$root-font-size             : 16px;
$gap                        : 30px;
$base-color                 : #F7F8FD;
$primary-color              : #3B4594;
$secondary-color            : #38ACE2;
$custom-google-font         : 'Inter', sans-serif;

$text-color                 : #4A4A4A;
$muted-text-color           : #9B9B9B;