$root-font-size             : 18px;
$gap                        : 30px;
$base-color                 : #ffffff;
$primary-color              : #8BC63F;
$secondary-color            : #066839;
$custom-google-font         : 'Inter', sans-serif;